# HW02 - 3 Machine Learning models

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [ ]:
iris = pd.read_csv("https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv")

In [ ]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [ ]:
# split data

X = iris[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
y = iris['variety'].map({'Setosa': 1, 'Versicolor': 2, 'Virginica': 3})

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state= 99)

In [ ]:
# train model Linear Regression

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# predict
pred_linear = linear_model.predict(X_test)

mae_linear = np.mean(np.absolute(y_test - pred_linear))
rmse_linear = np.sqrt(np.mean((y_test - pred_linear)**2))

print(f"'Linear Regression model'\nMAE = {mae_linear}\nRMSE = {rmse_linear}")

'Linear Regression model'
MAE = 0.16550399854209122
RMSE = 0.2198883012343603

In [ ]:
# train model Decision Tree

tree_model = DecisionTreeRegressor()
tree_model.fit(X_train, y_train)

# predict
pred_tree = tree_model.predict(X_test)

mae_tree = np.mean(np.absolute(y_test - pred_tree))
rmse_tree = np.sqrt(np.mean((y_test - pred_tree)**2))

print(f"'Decision Tree model'\nMAE = {mae_tree}\nRMSE = {rmse_tree}")

'Decision Tree model'
MAE = 0.044444444444444446
RMSE = 0.21081851067789195

In [ ]:
# train model Random Forest

forest_model = RandomForestRegressor()
forest_model.fit(X_train, y_train)

# predict
pred_forest = forest_model.predict(X_test)

mae_forest = np.mean(np.absolute(y_test - pred_forest))
rmse_forest = np.sqrt(np.mean((y_test - pred_forest)**2))

print(f"'Random Forest model'\nMAE = {mae_forest}\nRMSE = {rmse_forest}")

'Random Forest model'
MAE = 0.0491111111111111
RMSE = 0.18028989002283083